*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}
html, body{
    height: 100%;
    width: 100%;
}
body{
    background: #111;
}

.page1{
    width: 100%;
    height: 100vh;
}
.page2 {
    width: 100%;
    height: 100vh;
    padding: 5vw 0;
}
.page3 {
    width: 100%;
    height: 100vh;
}

.move{
    background-color: royalblue;
    padding: 5vw 0;
    display: flex;
    align-items: center;
    gap: 5vw;
    overflow-x: hidden;
}
#marque{
    flex-shrink: 0;
    display: flex;
    align-items: center;
    gap: 5vw;
    transform: translateX(-100%);
}
#marque h2{
    font-size: 5vw;
    font-family: tahoma;
}
#marque i{
    font-size: 5vw;
}
